html
  head
    link(rel="icon", type="image/png", href="https://cdn.glitch.com/8a3818fc-47ee-44f3-b307-aa96d3f14317%2Ffavicon.ico?v=1591520697613")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/custom.css")
    
  body
    .container
        .d-flex.justify-content-center
            img(src="https://res.cloudinary.com/dpymvfnzy/image/upload/v1594741764/error-500_kkhupp.png")
        .alert.alert-danger= error